[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = XXXXX
	email = XXXXX@XXXXX.XXXXX
[alias]
	s = "status"
	sv = "status -v"
	lg = "log --graph --oneline --decorate --all"
	lgs = "log --graph --oneline --decorate --all --stat"
	rank = "shortlog -sn --no-merges"
	su = "submodule update"
	sur = "submodule update --remote"
	pull = "pull -v"
	push = "push -v"
	add = "add -v"
	fetch = "fetch -v"
	cm = "commit -m"
	commitm = "commit -m"
